@model IEnumerable<BlogPost>

<h2>All Blog Posts</h2>
<a href="/Blog/Create">Create New Post</a>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>
                    <a href="Blog/Show/@post.Id">@post.Title</a>
                </td>
                <td>@post.Author</td>
                <td>@post.CreatedDate.ToShortDateString()</td>
                <td>
                    <a href="/Blog/Edit/@post.Id" class="btn btn-primary">Edit</a>
                    <a href="/Blog/Delete/@post.Id" class="btn btn-primary">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
